*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100%;
    background-color: lightcoral;
    position: relative;
    overflow: hidden;
}

main>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 20%;
}

main>button{
    position: absolute;
    top: 7%;
    right: 12%;
    height: 65px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 300ms;
}

main>button:hover{
    transform: scale(1.1);
}


main>button img{
    height: 100%;
}

#modal{
    /* display: none; */

    position: fixed;
    top: 20%;
    right: 11%;
    padding: 10px 20px;
    /* transform: translate(-50%,-50%); */
    background-color: white;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}